body {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    transform: scale(1);
    transition-duration: 500ms;
}

.box1:hover img {
    transform: scale(1.1);
}


@media all and (max-width:767px) {
    .text {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }

    img {
        width: 100px;
        height: 100px;

    }

    a {
        text-decoration: none;
        color: rgb(36, 85, 128);
        display: inline-block;

    }

    .div-img {
        width: 100px;
        height: 100px;
        background-color: aqua;
        overflow: hidden;
    }

    p {
        display: inline-block;
        font-size: 6px;

    }

    h5 {
        font-size: 15px;
        color: black;
        font-weight: 600;
    }

    .box1 {
        width: 690px;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        margin: 20px 10px 20px 0;

    }

    .div-br {
        width: 100%;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.358);
    }

    .font1 {
        font-size: 10px;
        font-weight: 600;
    }

    .font2 {
        font-size: 10px;
    }
}

@media all and (min-width:768px) and (max-width:1199px) {
    img {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: rgb(36, 85, 128);
    }

    .font1 {
        font-size: 12px;
        font-weight: 700;
    }

    .font2 {
        font-size: 12px;
    }

    h5 {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }

    .div-br {
        display: none;
    }

    .div-img {
        overflow: hidden;
    }

}

@media all and (min-width:1200px) and (max-width:1399px) {
    img {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: rgb(36, 85, 128);
    }

    .font1 {
        font-size: 12px;
        font-weight: 700;
    }

    .font2 {
        font-size: 12px;
    }

    h5 {
        font-size: 17px;
        color: black;
        font-weight: 600;
    }

    .div-br {
        display: none;
    }

    .div-img {
        overflow: hidden;
    }
}

@media all and (min-width:1400px) {
    img {
        width: 100%;
    }

    a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        color: rgb(36, 85, 128);
    }

    p {
        font-size: 12px;
    }

    .font1 {
        font-size: 12px;
        font-weight: 700;
    }

    .font2 {
        font-size: 12px;
    }

    h5 {
        font-size: 17px;
        color: black;
        font-weight: 600;
    }

    .div-br {
        display: none;
    }

    .div-img {
        overflow: hidden;
    }
}